services:
  cidr-watcher:
    image: registry.melroy.org/melroy/cidr-watcher/cidr-watcher:latest
    container_name: cidr-watcher
    restart: always
    networks:
      - cidr_watcher_internal_network
    volumes:
      # Mount environment file
      - ./.env:/app/.env:ro
      # Mount watch list
      - ./watch_list.txt:/app/watch_list.txt:ro
      # Mount Mysql socket from outside the container to inside the container
      - /var/run/mysqld/mysqld.sock:/var/run/mysqld/mysqld.sock:ro

networks:
  cidr_watcher_internal_network:
    internal: true
