services:
  cidr-watcher:
    image: registry.melroy.org/melroy/cidr-watcher/cidr-watcher:latest
    container_name: cidr-watcher
    restart: always
    networks:
      - cidr_watcher_internal_network
    volumes:
      # Mount the local .env and dest folder (create a local dest folder first or update to another destination folder)
      # Be sure the destination host folder as the correct rights under Linux (UID: 1000 and GID 1000)
      - ./.env:/app/.env:ro
      # Mount Mysql socket from outside the container to inside the container
      - /var/run/mysqld/mysqld.sock:/var/run/mysqld/mysqld.sock:ro
      # Mount InfluxDB socket from outside the container to inside the container
      - /var/run/influxdb/influxdb.sock:/var/run/influxdb/influxdb.sock:ro

networks:
  cidr_watcher_internal_network:
    internal: true
